body {
	font-size: 14px;
	font-family: 'Roboto',arial,sans-serif;
}
div {
	display: block;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.button, 
.button:active, 
.button:focus, 
button, 
button:active, 
button:focus {
    outline: none;
}
.button, 
button {
    height: 48px;
    line-height: 48px;
    background-color: #369ff4;
    color: #fff;
    -webkit-transition: background-color 150ms linear;
    transition: background-color 150ms linear;
    /*text-transform: uppercase;*/
    letter-spacing: .1em;
    border-radius: 4px;
    border: none;
    font-size: 13px;
    padding: 0 20px;
    font-weight: 500;
    display: inline-block;
}
.btn, 
.btn-simple-search, 
.btn-md, 
.btn-gray, 
.btn-blue{
	width: 150px;
	display: inline-block;
	margin-bottom: 0px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 15px;
	line-height: 1.4285;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.container {
	line-height: 1.2;
    text-align: left;
    width: 600px;
	margin: 0 auto;
	position: relative;
}
.button-container {
	margin: 0 auto;
	display: block;
}
.game-container {
	background-color: #14bdac;
	padding: 10px 0;
	perspective: 100px;
	position: relative;	
	z-index: 0;
}
.game-container .background-path {	
	fill: none;	
	stroke: black;	
	stroke-width: 16px;	
	transition: stroke-dashoffset 0.225s cubic-bezier(0.4,0,0.2,1);	
	-webkit-transition: stroke-dashoffset 0.225s cubic-bezier(0.4,0,0.2,1);
}
.game-container path:not(:only-of-type){	
	transition-duration: 0.125s;	
	-webkit-transition-duration: 0.125s;
} 
.game-container .scv-background path {	
	stroke: #0da192;	
	stroke-width: 6px;	
	transition-duration: 0.375s;	
	-webkit-transition-duration: 0.375s;
}
.tic-tac-toe-table,
.scv-background {	
	transition: opacity .5s cubic-bezier(0.4,0.0,1,1),transform .5s cubic-bezier(0.4,0.0,1,1),visibility .5s step-end;	
	-webkit-transition: opacity .5s cubic-bezier(0.4,0.0,1,1),transform .5s cubic-bezier(0.4,0.0,1,1),visibility .5s step-end;
}
.scv-background {	
	margin: auto;	
	right: 0px;	
	z-index: 0;
}
.scv-position,
.background-position {	
	height: 100%;	
	left: 0px;	
	position: absolute;	
	top: 0px;	
	width: 100%;
}
.notification-background {
	font-size: 34px;
    font-weight: bold;
	cursor: pointer;
	text-align: center;
    text-transform: uppercase;
}

.container .display-notification {
	display: inline-block;
    line-height: 1.5;
    vertical-align: middle;
}
.container .notification-container {
	width: 192px;
    height: 192px;
}
.notification-container span{
	
	transition: height .4s cubic-bezier(0.5,0.5,0.5,1.5);
    -webkit-transition: height .4s cubic-bezier(0.5,0.5,0.5,1.5);
    vertical-align: middle;
}
.notification-container span{
	
}
.text-transition,
.notification-background {
	transition: opacity .5s cubic-bezier(0.4,0.0,1,1),transform .5s cubic-bezier(0.4,0.0,1,1),visibility .5s step-end;
    -webkit-transition: opacity .5s cubic-bezier(0.4,0.0,1,1),transform .5s cubic-bezier(0.4,0.0,1,1),visibility .5s step-end;
}
.tic-tac-toe-table {	
	border-spacing: 6px;	
	margin: 0 auto;	
	position: relative;	
	z-index: 3;
}
.tic-tac-toe-table td {	
	height: 48px;	
	width: 48px;	
	padding: 8px;	
	vertical-align: top;	
	position: relative;
	text-align: center;
	font-size: 3.6em;
	line-height: 48px;
	
}
.button-container {	
	margin: 20px auto;
	width: 100%;	
	z-index: 1;	
	text-align: center;
}
.button-container .btn {
	margin:0 20px;
	
}
.restart {	
	margin: 20px auto;
	width: 100%;
	text-align: center;
}
.restart .btn {	
	margin: 10px auto;	
	padding: 10px 8px;	
	background-color: #d87002;
}