body {
	font-size: 14px;
	font-family: 'Roboto',arial,sans-serif;
}
div {
	display: block;
}
.container {
	line-height: 1.2;
    text-align: left;
    width: 600px;
	margin: 0 auto;
	position: relative;
}

.game-container {
	background-color: #14bdac;
	padding: 10px 0;
	perspective: 100px;
	position: relative;	
	z-index: 0;
}
.game-container .background-path {	
	fill: none;	
	stroke: black;	
	stroke-width: 16px;	
	transition: stroke-dashoffset 0.225s cubic-bezier(0.4,0,0.2,1);	
	-webkit-transition: stroke-dashoffset 0.225s cubic-bezier(0.4,0,0.2,1);
}
.game-container path:not(:only-of-type){	
	transition-duration: 0.125s;	
	-webkit-transition-duration: 0.125s;
} 
.game-container .scv-background path {	
	stroke: #0da192;	
	stroke-width: 6px;	
	transition-duration: 0.375s;	
	-webkit-transition-duration: 0.375s;
}
.tic-tac-toe-table,
.scv-background {	
	transition: opacity .5s cubic-bezier(0.4,0.0,1,1),transform .5s cubic-bezier(0.4,0.0,1,1),visibility .5s step-end;	
	-webkit-transition: opacity .5s cubic-bezier(0.4,0.0,1,1),transform .5s cubic-bezier(0.4,0.0,1,1),visibility .5s step-end;
}
.scv-background {	
	margin: auto;	
	right: 0px;	
	z-index: 0;
}
.scv-position,
.background-position {	
	height: 100%;	
	left: 0px;	
	position: absolute;	
	top: 0px;	
	width: 100%;
}
.notification-background {
	font-size: 34px;
    font-weight: bold;
	cursor: pointer;
	text-align: center;
    text-transform: uppercase;
}

.container .display-notification {
	display: inline-block;
    line-height: 1.5;
    vertical-align: middle;
}
.container .notification-container {
	width: 192px;
    height: 192px;
}
.notification-container span{
	
	transition: height .4s cubic-bezier(0.5,0.5,0.5,1.5);
    -webkit-transition: height .4s cubic-bezier(0.5,0.5,0.5,1.5);
    vertical-align: middle;
}
.notification-container span{
	
}
.text-transition,
.notification-background {
	transition: opacity .5s cubic-bezier(0.4,0.0,1,1),transform .5s cubic-bezier(0.4,0.0,1,1),visibility .5s step-end;
    -webkit-transition: opacity .5s cubic-bezier(0.4,0.0,1,1),transform .5s cubic-bezier(0.4,0.0,1,1),visibility .5s step-end;
}
.tic-tac-toe-table {	
	border-spacing: 6px;	
	margin: 0 auto;	
	position: relative;	
	z-index: 3;
}
.tic-tac-toe-table td {	
	height: 48px;	
	width: 48px;	
	padding: 8px;	
	vertical-align: top;	
	position: relative;
	text-align: center;
	font-size: 3.6em;
	line-height: 48px;
	
}
.restart {	
	margin: 0;	
	width: 100%;	
	z-index: 1;	
	text-align: center;
}
.restart button {	
	margin: 10px auto;	
	padding: 10px 8px;	
	background-color: transparent;
}